/* GLOBALS */
:root {
    /* Colores personalizados */
    --color-bg: #2A2337; /* Midnight Violet */
    --color-dark: #0D0D12; /* Onyx */
    --color-fg: #EAEAEA; /* Alabaster Grey */
    --color-accent: #E9B872; /* Sunlit Clay */
    --color-border: #7D7D8E; /* Rosy Granite */
    --color-warning: #A14591; /* Gris con matices rojos */

    /* Colores adicionales recomendados */
    --color-bg-secondary: #7D7D8E; /* Rosy Granite - Fondo secundario */
    --color-border-light: #EAEAEA; /* Alabaster Grey - Borde ligero */
    --color-hover: #E9B872; /* Sunlit Clay - Hover de botones y enlaces */
    --color-active: #2A2337; /* Midnight Violet - Fondo de elementos activos */
    
    /* Espaciado */
    --spacing: clamp(1.5rem, 2vw, 5rem);
    --padding-s: 0.5rem;
    --padding-m: 1rem;
    --padding-x: 1.5rem;
    --padding-xl: 3rem;
    --padding-main-x: clamp(1rem, 15vw, 20rem);
    --padding-main-y: 1.25rem;

    /* Medidas */
    --header-height: 4rem;
    --sidebar-width: 10rem;

    --border-width: 0.15rem;
    
}

/* Estilos globales */
* {
    box-sizing: border-box;
    color: var(--color-fg);
    margin: 0;
    padding: 0;
    transition: 0.1s;
}
html{
    min-height: 100vh;
}

main {
    padding: var(--padding-main-y) var(--padding-main-x);
}

body {
    color: var(--color-fg);
    background: linear-gradient(var(--color-bg), var(--color-dark)) fixed;
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: fantasy;
}

.frame{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;

    pointer-events: none;
    transition: 0s;
    z-index: 999999999;
}